/* PlacementReport.css */

.placement-report {
  padding: 20px;
  position: relative;
  color: rgb(255, 255, 255); /* Ensure the default text color is white */
}

.chart-container {
  margin-top: 20px;
  color: rgb(255, 255, 255); /* Ensure text inside chart-container is white */
}

.chart-wrapper {
  width: 100%; /* Set the width */
  height: 300px; /* Set the height */
  margin: 0 auto; /* Center the chart */
  color: rgb(255, 255, 255); /* Ensure text inside chart-wrapper is white */
}

h3 {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(255, 255, 255); /* Ensure h3 text is white */
}

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 15px;
  background-color: #356a96;
  color: white; /* Text color for the button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-button:hover {
  background-color: #1e88e5;
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.home-button:active {
  background-color: #1565c0;
  transform: scale(0.95); /* Slightly shrink the button when clicked */
}
